S3method(case,character)
S3method(case,numeric)
S3method(check_R_code,character)
S3method(check_Sweave_start,character)
S3method(check_examples,Rd)
S3method(check_keywords,"NULL")
S3method(check_keywords,Rd)
S3method(check_keywords,character)
S3method(check_keywords,logical)
S3method(class_desc,class_desc)
S3method(class_desc,list)
S3method(class_name,class_desc)
S3method(class_name,classes_desc)
S3method(class_rdfiles,character)
S3method(classes_desc,classes_desc)
S3method(classes_desc,list)
S3method(collect,list)
S3method(copy_pkg_files,character)
S3method(delete_o_files,character)
S3method(flatten,default)
S3method(flatten,list)
S3method(is_pkg_dir,character)
S3method(listing,character)
S3method(listing,default)
S3method(listing,double)
S3method(listing,factor)
S3method(listing,list)
S3method(listwd,"NULL")
S3method(listwd,numeric)
S3method(logfile,"NULL")
S3method(logfile,character)
S3method(map_files,character)
S3method(max_rgb_contrast,default)
S3method(mypdf,character)
S3method(pack_desc,character)
S3method(paper_size,character)
S3method(paper_size,numeric)
S3method(pkg_files,character)
S3method(prepare_class_names,character)
S3method(print,DBTABLES_Summary)
S3method(puts,Rd)
S3method(puts,class_desc)
S3method(puts,classes_desc)
S3method(puts,pack_desc)
S3method(puts,pack_descs)
S3method(rd_quote,character)
S3method(repair_S4_docu,character)
S3method(repair_docu,Rd)
S3method(repair_docu,character)
S3method(run_R_CMD,character)
S3method(run_ruby,"NULL")
S3method(run_ruby,character)
S3method(run_ruby,numeric)
S3method(sections,character)
S3method(sections,logical)
S3method(source_files,character)
S3method(source_files,pack_desc)
S3method(source_files,pack_descs)
S3method(subset,Rd)
S3method(subset,pack_desc)
S3method(subset,pack_descs)
S3method(swap_code,character)
S3method(swd,"NULL")
S3method(swd,character)
S3method(swd,numeric)
S3method(update,class_desc)
S3method(update,classes_desc)
S3method(update,numeric_version)
S3method(update,pack_desc)
S3method(update,pack_descs)
export(L)
export(LL)
export(case)
export(check_R_code)
export(check_Sweave_start)
export(check_examples)
export(check_keywords)
export(collect)
export(copy_pkg_files)
export(delete_o_files)
export(flatten)
export(is_pkg_dir)
export(listing)
export(listwd)
export(logfile)
export(map_files)
export(max_rgb_contrast)
export(must)
export(mypdf)
export(pack_desc)
export(paper_size)
export(pkg_files)
export(repair_S4_docu)
export(repair_docu)
export(run_R_CMD)
export(run_ruby)
export(sections)
export(swap_code)
export(swd)
exportClasses(DBTABLES)
exportMethods(by)
exportMethods(contains)
exportMethods(fkeys)
exportMethods(fkeys_valid)
exportMethods(head)
exportMethods(map_names)
exportMethods(map_values)
exportMethods(pkeys)
exportMethods(pkeys_valid)
exportMethods(sort)
exportMethods(split)
exportMethods(summary)
exportMethods(tail)
exportMethods(update)
import(methods)
importFrom(tools,parse_Rd)
importFrom(tools,toRd)
